.card {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.card-counter {
  display: flex
}

.plusmoins {
  margin: 10px;
  align-items: center;
}

.container {
  margin-top: 2%;
}

.container-register {
  padding: 10%;
}

.container-solo{
 display: flex;
}

.card-solo {
  align-items: center;
  padding: 12%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
